@media (max-width: 1024px) {
    .header {
        flex-direction:row;
        width: 90%;
        height: 320px;
    }
}


@media (max-width: 650px) {
    .header {
        flex-direction:column;
        width: 100%;
        padding: 10px;
        height: 590px;
    }
}